# This version of dogstatsd-python is really really slow on CPython especially,
# because of a socket hiding behind a property().
# See https://github.com/DataDog/dogstatsd-python/pull/30
dogstatsd-python!=0.5.4

# Earlier versions of WebTest lack proper support for cookie(jar)s.
WebTest>=2.0.7

# PyChef 0.3.0 is broken, see https://github.com/coderanger/pychef/issues/55
PyChef!=0.3.0

# Flake8 3.0.0 broke something about loading exclude from tox.ini.
# Not quite sure what yet.
flake8<3.0.0

# From 4.0.0 can't sample from unordered collection. We do this a lot.
hypothesis<4.0.0

# At least the wheel is broken on this version, see:
# https://github.com/eliben/pycparser/issues/147
# https://github.com/eliben/pycparser/issues/148
pycparser!=2.14

# The Requests package before 2.19.1 sends an HTTP Authorization header to an http URI upon receiving a same-hostname https-to-http redirect,
# which makes it easier for remote attackers to discover credentials by sniffing the network.
requests>2.19.1
# Earlier versions of urllib3 have a security vulnerability and it brakes `safety` check
urllib3>1.23


# Starting with version 1.8 Eliot disables Python 2 support, so until we migrate to Python 3,
# this has to stay in place
eliot<1.8.0

